/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/git/.gitconfig
/gui/environment
/net/.forward
/net/.netrc
/shared/environment.shared
/sitecopy/.sitecopyrc
/wget/.wgetrc
