keyrings/live/pubring.gpg~
keyrings/live/pubring.kbx~
keyrings/live/secring.gpg
git/.gitconfig
gui/environment
net/.forward
net/.netrc
tcsh/shared/environment.shared
sitecopy/.sitecopyrc
wget/.wgetrc
automount/auto_shares
!bin
/net/.vpn
/vpn/otago.ac.nz.vpn
